.container-1{
    background-color: black;
    color: white;
    }
    .text-footer{
      text-align: center;
    }
    
    .enq-btn {
      background-color: #234fa0;
      border-color: #234fa0;
      color: white; 
      border: none; 
      border-radius: 8px; 
      padding: 10px 20px; 
      font-size: 16px;
      cursor: pointer; 
      transition: background-color 0.3s, color 0.3s; 
      box-shadow:  0 4px 6px rgb(15, 64, 197), /* Bottom shadow */
      0 -4px 6px rgb(15, 64, 197), /* Top shadow */
      4px 0 6px rgb(15, 64, 197), /* Right shadow */
      -4px 0 6px rgb(15, 64, 197); /* Left shadow */
    }
    .enq-btn:hover {
      background-color: #084db6; /* Maintain yellow background on hover */
      color: white; /* White text on hover */
    }
    
    .enq-btn:active {
      background-color: blue; /* Background color on click */
      color: white; /* Text color on click */
    }
    
    