<div class="about-us" id="aboutus"
    style="height: 150px; width: 100%; margin: 0px 0px 50px; padding: 35px 0px; color: white;">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h1 class="text-whhite">ABOUT-US</h1>
                    </div>
                    <div class="text-whhite">STM is one of the largest distributors of books in the GCC</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content" style="margin: 0px 0px 20px; padding: 60px 0px;">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="p1">STM is one of the largest distributors of books in the GCC. Having supplied the region
                        since
                        2006 we are one of the leading and most respected book distributors with clients spanning the
                        entire GCC.
                    </p>
                    <p class="p1">
                        Our presence In the GCC countries(UAE, Oman, Bahrain, Qatar,
                        Kuwait and Saudi Arabia),allows us to distribute both University and School level books to our
                        various clients. In conjunction with our network of publishers; this allows us to contribute to
                        a world class education to the region.
                    </p>
                    <p class="p1">
                        In addition to academic books, we also distribute general/tradebooks to various public and
                        private libraries and retail booksellers/bookshops to encourage the culture of reading for both
                        the young and old generation.
                        We offer both fiction and non-fiction books for all ages.
                    </p>
                    <p class="p1">
                        Our strategically located logistics service points in the US and UK are positioned to service
                        the GCC and African market in an efficient manner.
                    </p>
                    <p class="p1">
                        We represent more than 1000 publishers in the region and have the ability to supply books in all
                        subject areas for Schools, Universities, Hospitals and Research Institutions, public/private
                        libraries and retail operations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div class="container-fluid" style="background-color: rgb(159, 155, 155);">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h2 class="text-footer" style="margin-top: 40px; ">Connect with Us</h2>
          <p class="text-footer" style="margin-top: 10px; margin-bottom: 10px;">We distribute materials for more than
            1000 publishers in the region and have the ability to supply books<br>
            in all subject areas for Schools, Universities, Hospitals and Research Institutions,
            public/private libraries<br>
            and retail operations.</p>

          <div class="col-md-12 text-center pb-4">
            <button class=" btn-lg btn enq-btn lato" style="margin-bottom: 5px; margin-top: 10px;">CATALOGUE
              REQUEST</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="ereaders-copyright" style="background-color: beige;">
    <div class="container">
      <div class="row">
        <div id="scrollspyHeading4" class="col-md-12">
          <p class="poppins" style="color: black; margin-top: 10px; margin-left: 50px;">©2023, All Right Reserved</p>
        </div>
      </div>
    </div>
  </div>
