
<router-outlet></router-outlet>



<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8F9FA;">
  <a class="navbar-brand" href="#"> <img src="assets/image/logo.jpg" class="logo" alt="Logo"> <!-- Adjust height as needed -->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#product">PRODUCTS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#whychooseus">WHY CHOOSE US</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerlink="/aboutus">ABOUT US</a>
      </li>
      <li class="nav-item custm">
        <a class="nav-link" style="background-color: #084db6; color: white; border-radius: 20px; height: 50px; padding-top: 15px;" href="/catalogue_reqests">CATALOGUE REQUEST</a></li>
    </ul>
  </div>
</nav>

<!--body-->
<div class="floating-button" style="background-image: url(assets/image/book-5.jpg); margin-right: 15px;">
  <!--image container-->

  <div class="image-content">
    <div class="container">
      <div class="row" style="padding-top: 100px; padding-bottom: 200px;">
        <div class="col-sm-7">
          <h3 data-aos="fade-right">
            <span class="poppins" style="color: #efbb67;">STM IS ONE OF THE</span>
            <br>
            <span class="poppins" style="color: #dcb6a0;"> LARGEST BOOK</span>
            <br>
            <span class="poppins" style="color: #efbb67;">DISTRIBUTOR IN THE</span>
            <br><span class="poppins" style="color: #dcb6a0;">MIDDLE EAST</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--containerreader-->
<div class="container-reader" style=" background-color: #F8F9FA;">
  <div class="row Category">
      <div class="side-icon col-lg-4 col-sm-12">
        <img src="assets/image/book-7.png" alt="" srcset="">
        <h1 class="poppin" style="padding-right: 50px; padding-top: 20px; padding-bottom: 50px;">
          Books for the 
          <br>Laibraries
        </h1>  
      </div>

      <div class="side-icon2 col-lg-4 col-sm-12">
        <img src="assets/image/box-1.jpg" alt="" srcset="">
        <h1 class="poppin" style="padding-right: 20px; padding-top: 16px; ">
          Widest collection
          <br>
          of suplier
        </h1>
      </div>
      

      <div class="side-icon3 col-lg-4 col-sm-12">
        <img src="assets/image/pricing-1.png" alt="" srcset="">
        <h1 class="poppin" style="padding-right: 60px; padding-top: 20px; padding-bottom: 50px;">
          Compititive 
          <br>pricing
        </h1>
      </div>

  </div>
</div>

<!--collaps-->

<!--scroll-heading-1-->
<div class="parallax" id="whychooseus">
  <div class="container1">
    <div class="row">
      <div class="col-md-12">
        <div class="left-right-padding">
          <h2 class="text-white poppins" style="margin-top: 60px;">WHY CHOOSE&nbsp;US</h2>
          <div class="row">
            <div class="col-lg-8 col-12">
              <p class="text-white poppins"> We distribute materials for more than 1000 publishers in the region and have
                the ability to supply books
                 in all subject areas for Schools, Universities, Hospitals and Research Institutions,
                 public/private libraries and retail operations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="background-color: #198754;">
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-1.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-2.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-3.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="background-color: #198754;">
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-4.png" style="height: 50px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 20px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
      <div class="col-lg-4 p-5">
        <div class="advantage-box1">
          <svg xmlns="http://www.w3.org/2000/svg" style="padding-top: 40px;" width="100" height="100"  fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
          <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
        </svg>
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-5.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
    </div>
  </div>
  </div>


  <!--scroll-heading 2-->
  <div class="parallax2 container-fluid" style="background-color: beige;" id="product">
    <div class="white-section">
      <div class="container3">
        <div class="row4">
          <div class="col-md-12" style="margin-left: 15px; padding-top: 60px;">
            <h2 class="poppins2" style="color: #084db6;">Products</h2>
            <p class="texts">Reliable and cost-effective solutions for your educational needs</p>
          </div>
        </div>
      </div>
    </div>
      <div class="row" style="margin-left: 15px; margin-left: 15px; padding-top: 30px;">
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-1.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Books for Libraries</h4>
          <p class="text-dark" style="padding-top: 4px;"> We help with customized lists and catalogues based on the
            subject areas, budget and requirements to help the institution to make the best use of their budget.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-2.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">K-12 Books for Schools</h4>
          <p class="text-dark" style="padding-top: 4px;"> We work with the school to understand their needs and provide
            books for various curriculum including – American, British and IB curriculum.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-3.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Student Textbooks</h4>
          <p class="text-dark" style="padding-top: 4px;"> We provide student textbooks on a semester by semester basis.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-4.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Trade Books</h4>
          <p class="text-dark" style="padding-top: 4px;"> Children and adult fiction and non-fiction books.
          </p>
        </div>
  
        <div class="row" style="padding-top: 8px;" style="padding-bottom: 70px;">
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
            <img src="assets/image/scrolimage-5.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">E-books on all subject areas</h4>
            <p class="text-dark" style="padding-top: 4px;"> We have the ability to provide a variety of e-
              books on various platforms like Vitalsource, Gardeners, Kortext or directly on publishers’ platforms.
            </p>
          </div>
  
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
            <img src="assets/image/scrolimage-6.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">Cataloguing Service</h4>
            <p class="text-dark" style="padding-top: 4px;"> We can provide the Cataloguing service for the libraries on
              demand.
            </p>
          </div>
  
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
            <img src="assets/image/scrolimage-7.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">Electronic Media</h4>
            <p class="text-dark" style="padding-top: 4px;"> Various electronic media (Including CD-ROMs, DVDs etc) for
              education/non-education use.
            </p>
          </div>
  
        </div>
  
      </div>
  </div>

  <!--footer-->
  <div class="container-fluid" style="background-color: rgb(159, 155, 155);">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h2 class="text-footer" style="margin-top: 40px; ">Connect with Us</h2>
          <p class="text-footer" style="margin-top: 10px; margin-bottom: 10px;">We distribute materials for more than
            1000 publishers in the region and have the ability to supply books<br>
            in all subject areas for Schools, Universities, Hospitals and Research Institutions,
            public/private libraries<br>
            and retail operations.</p>

          <div class="col-md-12 text-center pb-4">
            <button class=" btn-lg btn enq-btn lato" style="margin-bottom: 5px; margin-top: 10px;">CATALOGUE
              REQUEST</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="ereaders-copyright" style="background-color: beige;">
    <div class="container">
      <div class="row">
        <div id="scrollspyHeading4" class="col-md-12">
          <p class="poppins" style="color: black; margin-top: 10px; margin-left: 50px;">©2023, All Right Reserved</p>
        </div>
      </div>
    </div>
  </div>