<nav class="navbar navbar-expand-lg" style="background-color: white;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img class="logo" src="assets/image/logo.jpg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WHY CHOOSE US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>

        <li class="nav-item custm"><a class="nav-link" href="/catalogue_reqests">CATALOGUE REQUEST</a></li>

      </ul>
    </div>
  </div>
</nav>

<!--body-->
<div class="floating-button" style="background-image: url(assets/image/book-5.jpg); margin-right: 15px;">
  <!--image container-->

  <div class="image-content">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-7">
          <h3 data-aos="fade-right" class="aos-init aos-animate ">
            <span class="poppins" style="color: #efbb67;">STM IS ONE OF THE</span>
            <br>
            <span class="poppins" style="color: #dcb6a0;"> LARGEST BOOK</span>
            <br>
            <span class="poppins" style="color: #efbb67;">DISTRIBUTOR IN THE</span>
            <br><span class="poppins" style="color: #dcb6a0;">MIDDLE EAST</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--containerreader-->
<div class="container-reader">
  <div class="row" style="background-color: white;">
      <div class="side-icon col-lg-4 col-sm-12">
        <img src="assets/image/book-7.png" alt="" srcset="">
        <h1 class="poppin">
          Books for the Laibraries
        </h1>
        <span class="line" style="width: 2px; height: 100px; background-color: black; margin-top: 29px; ">|</span>
      </div>

      <div class="side-icon2 col-lg-4 col-sm-12">
        <img src="assets/image/box-1.jpg" alt="" srcset="">
        <h1 class="poppin">
          Widest collection
          <br>
          of suplier
        </h1>
        <span class="line" style="width: 2px; height: 100px; background-color: black; margin-top: 29px; ">|</span>
      </div>
      

      <div class="side-icon3 col-lg-4 col-sm-12">
        <img src="assets/image/pricing-1.png" alt="" srcset="">
        <h1 class="poppin">
          Compititive pricing
        </h1>
      </div>

  </div>
</div>

<!--collaps-->

<!--scroll-heading-1-->
<div class="parallax" style="padding-top: 40px;">
  <div class="container1">
    <div class="row">
      <div class="col-md-12">
        <div class="left-right-padding">
          <h2 class="text-white poppins" style="margin-top: 60px;">WHY CHOOSE&nbsp;US</h2>
          <div class="row">
            <div class="col-lg-8 col-12">
              <p class="text-white poppins"> We distribute materials for more than 1000 publishers in the region and have
                the ability to supply books
                 in all subject areas for Schools, Universities, Hospitals and Research Institutions,
                 public/private libraries and retail operations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="background-color: #198754;">
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-1.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-1.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
      <div class="col-lg-4 p-5">
        <div class="advantage-box1"><img src="assets/image/boximage-1.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
          <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
            <br>from logistics service points in <br>UK and USA.
          </h6></div>
      </div>
    </div>
  </div>
  </div>

  <!--scroll-heading 2-->
  <div class="parallax2 container-fluid" style="background-color: beige;">
    <div class="white-section">
      <div class="container3">
        <div class="row4">
          <div class="col-md-12">
            <h2 class="poppins2" style="color: #084db6;">Products</h2>
            <p class="texts">Reliable and cost-effective solutions for your educational needs</p>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-1.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Books for Libraries</h4>
          <p class="text-dark" style="padding-top: 4px;"> We help with customized lists and catalogues based on the
            subject areas, budget and requirements to help the institution to make the best use of their budget.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-2.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">K-12 Books for Schools</h4>
          <p class="text-dark" style="padding-top: 4px;"> We work with the school to understand their needs and provide
            books for various curriculum including – American, British and IB curriculum.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-3.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Student Textbooks</h4>
          <p class="text-dark" style="padding-top: 4px;"> We provide student textbooks on a semester by semester basis.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
          <img src="assets/image/scrolimage-4.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Trade Books</h4>
          <p class="text-dark" style="padding-top: 4px;"> Children and adult fiction and non-fiction books.
          </p>
        </div>
  
        <div class="row" style="padding-top: 8px;" style="padding-bottom: 70px;">
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box">
            <img src="assets/image/scrolimage-5.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">E-books on all subject areas</h4>
            <p class="text-dark" style="padding-top: 4px;"> We have the ability to provide a variety of e-
              books on various platforms like Vitalsource, Gardeners, Kortext or directly on publishers’ platforms.
            </p>
          </div>
  
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box" style="margin-left: 10px;">
            <img src="assets/image/scrolimage-6.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">Cataloguing Service</h4>
            <p class="text-dark" style="padding-top: 4px;"> We can provide the Cataloguing service for the libraries on
              demand.
            </p>
          </div>
  
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box" style="margin-left: 30px;">
            <img src="assets/image/scrolimage-7.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">Electronic Media</h4>
            <p class="text-dark" style="padding-top: 4px;"> Various electronic media (Including CD-ROMs, DVDs etc) for
              education/non-education use.
            </p>
          </div>
  
        </div>
  
      </div>
  </div>

  <!--footer-->
  <div class="container-fluid" style="background-color: rgb(159, 155, 155);">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h2 class="text-footer" style="margin-top: 40px; ">Connect with Us</h2>
          <p class="text-footer" style="margin-top: 10px; margin-bottom: 10px;">We distribute materials for more than
            1000 publishers in the region and have the ability to supply books<br>
            in all subject areas for Schools, Universities, Hospitals and Research Institutions,
            public/private libraries<br>
            and retail operations.</p>

          <div class="col-md-12 text-center pb-4">
            <button class=" btn-lg btn enq-btn lato" style="margin-bottom: 5px; margin-top: 10px;">CATALOGUE
              REQUEST</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="ereaders-copyright" style="background-color: beige;">
    <div class="container">
      <div class="row">
        <div id="scrollspyHeading4" class="col-md-12">
          <p class="poppins" style="color: black; margin-top: 10px; margin-left: 50px;">©2023, All Right Reserved</p>
        </div>
      </div>
    </div>
  </div>