

<div class="parallax">
    <div class="container1">
      <div class="row">
        <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="left-right-padding">
            <h2 class="text-white poppins" style="margin-top: 60px;">WHY CHOOSE&nbsp;US</h2>
            <div class="row">
              <div class="col-lg-8 col-12">
                <p class="text-white poppins"> We distribute materials for more than 1000 publishers in the region and have
                  the ability to supply books
                   in all subject areas for Schools, Universities, Hospitals and Research Institutions,
                   public/private libraries and retail operations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" style="background-color: #198754;">
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-1.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
              <br>from logistics service points in <br>UK and USA.
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-2.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Special 10 day<br>
              delivery also<br>
              available
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-3.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Prompt customer service to ensure<br> you get quotes/order reports<br> regularly.
            </h6></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" style="background-color: #198754;">
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-4.png" style="height: 50px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 20px; color: white;">Widest collection of suppliers <br> including publishers and <br>
              University presses.
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1">
            <img src="assets/image/boximage-6.png" style="height: 60px; margin-top: 30px;" alt="advantage-icon">
            <h6 style="margin-top: 9px; color: white;">Competitive pricing which<br>
              is unmatched.
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-5.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Free customized lists of publications <br>and catalogues.
            </h6></div>
        </div>
      </div>
    </div>

    
