

<div class="parallax2 container-fluid" style="background-color: beige; margin: 0px;" id="products">
    <div class="white-section" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
      <div class="container3">
        <div class="row4">
          <div class="col-md-12" style="padding-left: 70px; padding-top: 60px;">
            <h2 class="poppins2" style="color: #084db6;">Products</h2>
            <p class="texts">Reliable and cost-effective solutions for your educational needs</p>
          </div>
        </div>
      </div>
    </div>
      <div class="row" style=" padding-left: 70px; padding-top: 30px; padding-right: 70px;">
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/image/scrolimage-1.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Books for Libraries</h4>
          <p class="text-dark" style="padding-top: 4px;"> We help with customized lists and catalogues based on the
            subject areas, budget and requirements to help the institution to make the best use of their budget.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/image/scrolimage-2.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">K-12 Books for Schools</h4>
          <p class="text-dark" style="padding-top: 4px;"> We work with the school to understand their needs and provide
            books for various curriculum including – American, British and IB curriculum.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/image/scrolimage-3.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Student Textbooks</h4>
          <p class="text-dark" style="padding-top: 4px;"> We provide student textbooks on a semester by semester basis.
          </p>
        </div>
  
        <div class="col-md-3 col-sm-12 col-xs-12 sm-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/image/scrolimage-4.png" style="width: 50px; height: 50px;" alt="" srcset="" class="help-icon">
          <h4 class="poppins" style="color: #084db6;">Trade Books</h4>
          <p class="text-dark" style="padding-top: 4px;"> Children and adult fiction and non-fiction books.
          </p>
        </div>
  
        <div class="row" style="padding-top: 8px;" style="padding-bottom: 70px;">
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
            <img src="assets/image/scrolimage-5.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">E-books on all subject areas</h4>
            <p class="text-dark" style="padding-top: 4px;"> We have the ability to provide a variety of e-
              books on various platforms like Vitalsource, Gardeners, Kortext or directly on publishers’ platforms.
            </p>
          </div>
  
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
            <img src="assets/image/scrolimage-6.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">Cataloguing Service</h4>
            <p class="text-dark" style="padding-top: 4px;"> We can provide the Cataloguing service for the libraries on
              demand.
            </p>
          </div>
  
          <div class="col-md-3 col-sm-12 col-xs-12 sm-box" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
            <img src="assets/image/scrolimage-7.png" style="width: 50px; height: 50px;" alt="" srcset=""
              class="help-icon">
            <h4 class="poppins" style="color: #084db6;">Electronic Media</h4>
            <p class="text-dark" style="padding-top: 4px;"> Various electronic media (Including CD-ROMs, DVDs etc) for
              education/non-education use.
            </p>
          </div>
  
        </div>
  
      </div>
      
  </div>
