
<!--footer-->
<div class="container-fluid" style="background-color: rgb(159, 155, 155); height: 500px;">
    <div class="row">
      <div class="col-12">
        <div class="footer" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <h2 class="text-footer" style="margin-top: 40px; ">Connect with Us</h2>
          <p class="text-footer" style="margin-top: 10px; margin-bottom: 10px;">We distribute materials for more than
            1000 publishers in the region and have the ability to supply books<br>
            in all subject areas for Schools, Universities, Hospitals and Research Institutions,
            public/private libraries<br>
            and retail operations.</p>
          <div class="col-md-12 text-center pb-4" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
            <button class="btn-lg btn enq-btn lato" routerLink="/cataloguerequest" style="margin-bottom: 5px; margin-top: 10px;">CATALOGUE
              REQUEST</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ereaders-copyright"style="background-color: beige;">
    <div class="container">
      <div class="row">
        <div id="scrollspyHeading4"class="col-md-12">
          <p class="poppins"style="color: black; margin-top: 10px; margin-left: 50px;">©2023, All Right Reserved</p>
        </div>
      </div>
    </div>
  </div>
