  
  <!--body-->
  <div class="floating-button" style="background-image: url(assets/image/book-5.jpg); margin-right: 15px;">
    <!--image container-->
  
    <div class="image-content">
      <div class="container">
        <div class="row" style="padding-top: 100px; padding-bottom: 200px;">
          <div class="col-sm-7">
            <h3 data-aos="fade-right">
              <span class="poppins" style="color: #efbb67;">STM IS ONE OF THE</span>
              <br>
              <span class="poppins" style="color: #dcb6a0;"> LARGEST BOOK</span>
              <br>
              <span class="poppins" style="color: #efbb67;">DISTRIBUTOR IN THE</span>
              <br><span class="poppins" style="color: #dcb6a0;">MIDDLE EAST</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--containerreader-->
  <div class="container-reader" style=" background-color: #F8F9FA;">
    <div class="row Category">
        <div class="side-icon col-lg-4 col-sm-12" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/image/book-7.png" alt="" srcset="">
          <h1 class="poppin" style="padding-right: 50px; padding-top: 20px; padding-bottom: 50px;" >
            Books for the 
            <br>Laibraries
          </h1>  
        </div>
  
        <div class="side-icon2 col-lg-4 col-sm-12" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/image/box-1.jpg" alt="" srcset="">
          <h1 class="poppin" style="padding-right: 20px; padding-top: 16px; ">
            Widest collection
            <br>
            of suplier
          </h1>
        </div>
        
  
        <div class="side-icon3 col-lg-4 col-sm-12" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <img src="assets/image/pricing-1.png" alt="" srcset="">
          <h1 class="poppin" style="padding-right: 60px; padding-top: 20px; padding-bottom: 50px;">
            Compititive 
            <br>pricing
          </h1>
        </div>
  
    </div>
  </div>
  
  <!--collaps-->
  
  <!--scroll-heading-1-->
  <div class="parallax" id="whychooseus">
    <div class="container1">
      <div class="row">
        <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="left-right-padding">
            <h2 class="text-white poppins1" style="margin-top: 60px;">WHY CHOOSE&nbsp;US</h2>
            <div class="row">
              <div class="col-lg-8 col-12">
                <p class="text-white poppins1"> We distribute materials for more than 1000 publishers in the region and have
                  the ability to supply books
                   in all subject areas for Schools, Universities, Hospitals and Research Institutions,
                   public/private libraries and retail operations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" data-aos="fade-down" style="background-color: #198754;">
      <div class="row">
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-1.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Prompt delivery within 3-4 weeks
              <br>from logistics service points in <br>UK and USA.
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-2.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Special 10 day<br>
              delivery also<br>
              available
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-3.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Prompt customer service to ensure<br>
              you get quotes/order <br>reports regularly.
            </h6></div>
        </div>
      </div>
    </div>
    <div class="container-fluid" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"  style="background-color: #198754;">
      <div class="row">
        <div class="col-lg-4 p-5">
          <div class="advantage-box1"><img src="assets/image/boximage-4.png" style="height: 50px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 20px; color: white;">Widest collection of suppliers <br>including publishers and<br>
              University presses.
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1">
            <img src="assets/image/boximage-6.png" style="height: 50px; margin-top: 30px;" alt="advantage-icon">
            <h6 style="margin-top: 9px; color: white;">Competitive pricing which<br>
              is unmatched.
            </h6></div>
        </div>
        <div class="col-lg-4 p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
          <div class="advantage-box1"><img src="assets/image/boximage-5.png" style="height: 70px; margin-top: 35px;" alt="advantage-icon">
            <h6 style="margin-top: 4px; color: white;">Free customized lists of publications<br> and catalogues.
            </h6></div>
        </div>
      </div>
    </div>
    </div>
  
  
    <!--scroll-heading 2-->
    <app-products></app-products>
    <!--footer-->
    <div class="container-fluid" style="background-color: rgb(159, 155, 155);" id="contact-us">
      <div class="row">
        <div class="col-12">
          <div class="footer" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
            <h2 class="text-footer" style="margin-top: 40px; ">Connect with Us</h2>
            <p class="text-footer"  style="margin-top: 10px; margin-bottom: 10px;">We distribute materials for more than
              1000 publishers in the region and have the ability to supply books<br>
              in all subject areas for Schools, Universities, Hospitals and Research Institutions,
              public/private libraries<br>
              and retail operations.</p>
  
            <div class="col-md-12 text-center pb-4" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
              <button class=" btn-lg btn enq-btn lato" routerLink="/cataloguerequest" style="margin-bottom: 5px; margin-top: 10px;">CATALOGUE
                REQUEST</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="ereaders-copyright" style="background-color: beige;">
      <div class="container">
        <div class="row">
          <div id="scrollspyHeading4" class="col-md-12">
            <p class="poppins" style="color: black; margin-top: 10px; margin-left: 50px;">©2023, All Right Reserved</p>
          </div>
        </div>
      </div>
    </div>
    