<div class="cataloguerequest" id="cataloguerequest"
    style="height: 150px; width: 100%; margin: 0px 0px 50px; padding: 35px 0px; color: white;">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h1 class="text-whhite">CATALOGUE REQUEST</h1>
                    </div>
                    <div class="text-whhite">STM has one of the widest collection of suppliers in The Middle East</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8">
      
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="Name" class="form-control" id="inputName" placeholder="Enter Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="Email" class="form-control" id="inputEmail" placeholder="Enter Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputContact">Contact</label>
              <input type="Enter Contact" class="form-control" id="inputContact" placeholder="Enter Contact">
            </div>
            <div class="form-group">
              <label for="inputMessage">Message</label>
              <input type="text" style="padding-bottom: 80px; padding-top: 20px;"   class="form-control" id="inputMessage" placeholder="Enter Message">
            </div>
            
           <div class="button">
            <button type="submit" class="btn">Send Catalogue Request</button>
        </div>
          </form>
      
    </div>
    
</div>

