<div class="cataloguerequest" id="cataloguerequest"
    style="height: 150px; width: 100%; margin: 0px 0px 50px; padding: 35px 0px; color: white;">
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h1 class="text-whhite">CATALOGUE REQUEST</h1>
                    </div>
                    <div class="text-whhite">STM has one of the widest collection of suppliers in The Middle East</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container ">
  <div class="form-container">
    
      <form #regdata="ngForm"(ngSend)="send(regdata)">
          <div class="form-row" style="width: 100%; padding-left: 15px; padding-right: 5px;">
            <div class="form-group col-12 col-md-6">
              <label for="inputName">Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Enter Name" name="name" required ngModel #name="ngModel">
            <span *ngIf="name.touched && !name.valid" style="color: red;">
               *Name is required
            </span>
            </div>
            <div class="form-group col-12 col-md-6">
             <label for="inputEmail">Email</label>
              <input type="text"  class="form-control" id="inputEmail" placeholder="Enter Email" name="email" required ngModel #email="ngModel">
              <span *ngIf="email.touched &&!email.valid" style="color: red;">
                *Email is required
             </span>
            </div>
          </div>
          <div class="form-group col-12">
            <label for="inputContact">Contact</label>
            <input type="text" class="form-control" id="inputContact" placeholder="Enter Contact" name="contact" required ngModel #contact="ngModel">
            <span *ngIf="contact.touched && !contact.valid" style="color: red;">
              *Contact is required
           </span>
          </div>
          <div class="form-group col-12">
            <label for="inputMessage">Message</label>
            <input type="text" style="padding-bottom: 80px; padding-top: 20px; "   class="form-control" id="inputMessage" placeholder="Enter Message" name="message" required ngModel #message="ngModel">
            <span *ngIf="message.touched && !message.valid" style="color: red;">
              *Message is required
           </span>
          </div>
          
         <div class="button">
          <button type="submit" class="btn">Send Catalogue Request</button>
      </div>
        </form>
    
  </div>
  
</div>                    